.w3-col {
    float: left;
    width: 25%;
    background-color: black;
    text-align: center;
    background-color: #b11717;
}

.w3-top {
    position: fixed;
    width: 100%;
    z-index: 1;
    padding: 8px 16px !important;
    background-color: #b11717;
    line-height: 2.5;
}

.w3-button:hover {
    color: #000 !important;
    background-color: #ccc !important;
}

.w3-button {
    text-decoration: none;
    color: white;
    font-family: "Inconsolata", sans-serif;
}

.w3-tag {
    background-color: black;
    color: white;
    padding: 10px;
    font-family: "Segoe UI", Arial, sans-serif;
}

h5 { font-size: 18px;}

.w3-center{text-align: center }

.w3-content{
    margin-left: auto;
    margin-right: auto;
    margin-top: 145px;
}
.w3-image{
    background-image: url("https://www.w3schools.com/w3images/coffeehouse.jpg");
    min-height: 80%;
}   

.zentriert{
    width: 100%;
    text-align: center;
    top: 48px;
    position: relative;
}
body{
    background: black;
    color: white;
}